{{ partial "header.html" . }}


<div class="main-container container-fluid">
  <main class="manuscript-page">
    <div class="row manuscript-info">
      <div class="col-sm-1 back-to-list"> 
        <a href="/sakta/"><i class="fa fa-backward fa-3x"></i></a>
      </div>
  
      <div class="col-sm-5">
        <h2 data-toc-skip><span class="title">{{ .Title | markdownify }}</span></h2>
        {{ if .Params.sanskritTitle }} <p>Sanskrit title: {{ .Params.sanskritTitle }}</p> {{ end }}
        {{ if .Params.transliteratedTitle }} <p>Transliterated title: {{ .Params.transliteratedTitle }}</p> {{ end }}
        {{ if .Params.englishTitle }} <p>English title: {{ .Params.englishTitle }}</p> {{ end }}
        {{ if .Params.subject }} <p>Subject: {{ .Params.subject }}</p> {{ end }}
        {{ if .Params.approximateDating }} <p>Approximate dating: {{ .Params.approximateDating }}</p> {{ end }}
        {{ if .Params.physicalLocation }} <p>Physical location: {{ .Params.physicalLocation }}</p> {{ end }}
        {{ if .Params.originPlace }} <p>Place of origin: {{ .Params.originPlace }}</p> {{ end }}
        {{ if .Params.author }} <p>Author: {{ .Params.author }}</p> {{ end }}
        {{ if .Params.provenance }} <p>Provenance: {{ .Params.provenance }}</p> {{ end }}
        {{ if .Params.manuscriptLanguage }} <p>Manuscript language: {{ .Params.manuscriptLanguage }}</p> {{ end }}
        {{ if .Params.script }} <p>Script: {{ .Params.script }}</p> {{ end }}
        {{ if .Params.material }} <p>Material: {{ .Params.material }}</p> {{ end }}
        {{ if .Params.condition }} <p>Condition: {{ .Params.condition }}</p> {{ end }}
        {{ if .Params.folios }} <p>Folios: {{ .Params.folios }}</p> {{ end }}
        {{ if .Params.codices }} <p>Codices: {{ .Params.codices }}</p> {{ end }}
        {{ if .Params.bibliographyNote }} <p>Bibliography: {{ .Params.bibliographyNote }}</p> {{ end }}
        {{ if .Params.transliterators }} <p>Transliterated by: {{ .Params.transliterators }}</p> {{ end }}
        {{ if .Params.translationEnglish }} <p>English translation by: {{ .Params.translationEnglish }}</p> {{ end }}
        {{ if .Params.translationDanish }} <p>Danish translation by: {{ .Params.translationDanish }}</p> {{ end }}
      </div>
      
      <div class="col-sm-4 elements-to-view">
        <h2>Elements to view</h2>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Sanskrit
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" checked="checked" id="inlineCheckbox2" value="option2"> Transliteration
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" checked="checked" id="inlineCheckbox3" value="option3"> English translation
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" checked="checked" id="inlineCheckbox3" value="option3"> English translation notes
        </label>
      </div>
      
      <div class="col-sm-2">
        <button type="button" class="btn btn-light btn-md">Download text</button>
        <button type="button" class="btn btn-light btn-md">Download images</button>
        <a href={{ .Params.googlesheet }}><button type="button" class="btn btn-light btn-md">Comment on text</button></a>
      </div>
        
    </div>
    
    <div class="row manuscript-content">
      <div class="col-sm-12">
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
    </div>
    
  </main>
</div>

{{ partial "footer.html" . }}
