:root {
  --main-page-padding: 0 3em 0 3em;
}


.main-page-restrict-width {
  max-width: 1670px;
  margin: auto;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1670px;
    }
}

.header-container .navbar {
    background-color: white !important;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}
.header-container .navbar-nav a.nav-link.active {
  /*border-bottom: 1px dashed rgba(0,0,0,0.2);*/
  padding-bottom: 0;
  font-weight: 400;
}

/* style the appearance and disappearance of the header */
.headroom {
    will-change: transform;
    transition: transform 250ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar-nav a {
  color: black !important;
}

.navbar-hide {
    top: -56px;
}



/* font */
body {
  /*font-family: 'Open Sans', "Muli", "Helvetica Neue", helvetica, arial, sans-serif;*/
  font-family: "Muli", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-weight: 300;
}
h5 {
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
}
body .main-container p {
  font-size: 1em;
  line-height: 170%; 
}

code {
  font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
  /*background: #f9f9f9;*/
  color: black;
}

/**** HYPERLINKS ******/
/* by default black, underlined and no line on hover */
a {
  color: black;
  border-bottom: 1px solid lightgray;
}
a:hover {
  text-decoration: none;
  color: black;
  border-bottom: none;
}

/* for these, don't have them underline, but make them lighter on hover */
.posts-sidebar a,
.blog-post #toc a,
.featured-work-entry .teaser a,
.pub-title a,
.blog-title a,
.cv-navbar a,
.navbar a,
.link-wrapper a,
a.email,
.project-work-entry-title a {
  border-bottom: none;
  opacity: 1.0;
  color: black;
}
.posts-sidebar a:hover,
.pub-title a:hover,
.blog-title a:hover,
.navbar a.nav-link:hover,
a.email:hover,
.row.project-entries .project-work-entry-title a:hover {
  /*text-decoration: underline;*/
  color: black;
  opacity: 0.65;
}


/* NAVBAR */
.navbar-brand {
  font-size: 2.3em;
  font-weight: 200;
  color: #777 !important;
  line-height: 20px;
}
/* push content down below the sticky navbar */
.main-container {
  padding-top: 7.5em;
}


/***** FRONT PAGE ******/
.front-page-how-to-use,
.front-page-how-it-works {
  margin-top: 4.5em;
}

h2 {
  margin-top: 1.5em;
}

.donate {
  text-align: center;
  vertical-align: middle;
}
.btn-donate
{
  width: 50%;
  margin-top: 15%;
  font-size: 1.5em;
}

.contact-info {
  padding-left: 1em;
}
.link-wrapper {
  margin-top: 0.5em;
}
#recent-work {
  margin-bottom: 0.5em;
}
.featured-work {
  margin-top: 5em;
}
.featured-work-entry {
  margin-bottom: 2em;
}
/* this fixes spacing on mobile */
.featured-work-entry iframe {
  padding-bottom: 0.8em;
}
.featured-work-graphic {
  padding-right: 2em;
  padding-bottom: 0.8em;
}
.tldr-label {
  font-style: italic;
}


/* footer */
footer {
  margin-top: 3em;
  margin-bottom: 3em;
}

footer hr {
  border-top: 1px solid rgba(0,0,0,0.1);
}


/* SAKTA PAGE */
.manuscript-list-page-header {
  margin-bottom: 1em;
}

.manuscript-list {
  padding: var(--main-page-padding);
}

.manuscript-list .dataTables_scrollBody thead tr:nth-child(2) {
  display: none;
}

.manuscript-list td {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: text-top !important;
}

.manuscript-list td:first-child {
  max-width: 200px;
  overflow: scroll;
  font-weight: bold;
  white-space: nowrap;
  background-color: lightgray;
  vertical-align: text-top !important;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}
.manuscript-list thead th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
}

.manuscript-list td:hover {
  white-space: pre-wrap;
}

.manuscript-list td a:hover {
  color: white;
  text-shadow: 1px 1px black;
}


/* ---- MANUSCRIPT PAGES ---- */
.manuscript-text-only .dt-buttons {
  margin-left: 1em;
}

.manuscript-page .text-buttons a {
  margin-bottom: .5em;
}

.manuscript-page .text-buttons {
  margin-bottom: 1.5em;
}

.manuscript-photo {
  overflow: hidden;
}

.manuscript-page .panzoomContainer {
  z-index: 1;
  position: relative;
}

.manuscript-page .zoomButtons {
  z-index: 2;
  position: relative;
}

.manuscript-page .datatables {
  z-index: 3;
  position: relative;
}

.hide-on-pan {
  display: none;
}

.manuscript-page .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}

.manuscript-page {
  padding: var(--main-page-padding);
}

.manuscript-page .back-to-list a {
  border: none;
}

.manuscript-page h2 {
  margin-top: 0;
}

.manuscript-info p {
  margin-bottom: 0.1rem;
}

.manuscript-photo-and-text {
  margin-top: 6em;
}

.manuscript-page .manuscript-text td {
  vertical-align: top !important;
}

.text-navigation-info {
  position : absolute !important;
  bottom   : 0 !important;
}

.manuscript-page .manuscript-text tr {
  background-color: transparent !important;
}

.add-background {
  background-color: rgba(0, 0, 30, 0.3);
}

.white-font {
  color: whitesmoke;
}